
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %></h1>
    <h4> Here is the list of people who have not submitted their timesheet today(<%= Date.today %>) :- </h4>
    <% @leftuser.each do |user| %>
    <ul>
    <li><%= user.username %> (<%= user.designation %>)</li>
  </ul>
    <% end %>
  </body>
</html>
